In [119]:
import pandas

Data is coming from http://www.informationisbeautiful.net/visualizations/worlds-biggest-data-breaches-hacks/

In [120]:
df = pandas.read_excel("/Users/elenaharada/Documents/SCU Courses/05-Fall Quarter 2017/MSIS 2621/Information is Beautiful- Data Breaches (public).xlsx")

In [121]:
df = df[['Entity','YEAR','records lost','ORGANISATION','METHOD OF LEAK','DATA SENSITIVITY']]
#only bring in the above columns

In [123]:
df = df.rename(columns={'YEAR':'Year','records lost':'Records Lost','ORGANISATION':'Organization','METHOD OF LEAK':'Method of Leak','DATA SENSITIVITY':'Sensitivity'})

We will need to drop the first row as it is a description and will cause errors when we do calculations

In [124]:
df = df.drop(df.index[[0]]) 
#drop first row

Below we'll replace the year values from 1-14 to the actual year. 14 is going to be 2017 because that is the most recent and not 2018 (which is the future)

In [126]:
df['Year'].replace([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14],[2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2017],inplace=True)
#replace year values

Below we'll remove any rows with blank values because it will decrease our averages even though the records lost is 0

In [128]:
df = df.dropna(how='any') 
#remove rows with blank values

In [130]:
df.to_csv('/Users/elenaharada/Documents/SCU Courses/05-Fall Quarter 2017/MSIS 2621/Lab_2_Data.csv',index=False)
#export the excel file to csv to import into Tableau